.about-box {
    &__q {
        font-size: 2rem;
        text-align: left;
        padding-bottom: 1rem;
        @include mq(sp) {
            font-size: 1.5rem;
        }
    }
    &__a {
        box-sizing: border-box;
        padding: 1.6rem;
        background-color: $color-blue;
        border-radius: 1rem;
        line-height: 2;
        font-size: 1.6rem;
        text-align: left;
        min-height: 22rem;
        box-shadow: 2px 2px 4px -2px gray;
    }
    &__link {
        color: white;
    }
}
.bold {
    font-weight: bold;
}

